@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* header start */
header.backImage {
    background-image: url("../../img/header/backgraund.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

header.backImage .backImage-sub {
    font-size: 1.75rem;
    line-height: 1.5rem;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header.backImage .backImage-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gif-size{
    width: 150px;
    height: auto;
}
.underline {
    height: 0.25rem;
    width: 5rem;
    background: #f0ad4e;
    margin-left: auto;
    margin-right: auto;
  }

/* navbar start */
#mainNavbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}

#mainNavbar .navbar-brand {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 0.063em;
}

#mainNavbar .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat",
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.06em;
}

#mainNavbar .navbar-nav .nav-item .nav-link.active,
#mainNavbar .navbar-nav .nav-item .nav-link:hover {
    color: #f0ad4e;
}
.img-resize{
    width: 250px;
    height: auto;
}

/* services start */
.mySection {
    padding: 5rem 0;
}

.mySection h2.s-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.mySection h3.s-subheading {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

/* portfolio start */
#portfolio .p-item {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
}

#portfolio .p-item .p-link {
    position: relative;
    display: block;
    margin: 0 auto;
}

#portfolio .p-item .p-link .p-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(21, 22, 23, 0.75);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    -webkit-transition: opacity ease-in-out 0.3s;
    -moz-transition: opacity ease-in-out 0.3s;
    -ms-transition: opacity ease-in-out 0.3s;
    -o-transition: opacity ease-in-out 0.3s;
}

#portfolio .p-item .p-link .p-hover .ph-content {
    font-size: 6.3rem;
}

#portfolio .p-item .p-link:hover .p-hover {
    opacity: 1;
}

#portfolio .p-item .p-caption .pc-heading {
    font-size: 1.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0;
    font-weight: 700;
}

#portfolio .p-item .p-caption .pc-subheading {
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}


.p-modal .modal-content h2 {
    font-size: 3rem;
    line-height: 3rem;
}

.p-modal .modal-content .p-intro {
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-modal .close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-color: transparent;
    z-index: 3;
}

.p-modal .close-modal:hover {
    opacity: 0.5;
}

@media(max-width:991.98px) {
    header.backImage {
        padding-top: 11rem;
        padding-bottom: 13rem;
    }

    header.backImage .backImage-heading {
        font-size: 2rem;
        line-height: 2rem;
    }

    #mainNavbar .navbar-nav .nav-item .nav-link {
        color: #212529;
    }

    .p-modal .modal-content h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .p-modal .close-modal {
        width: 2rem;
        height: 2rem;
    }
    
}

@media(min-width:992px) {
    header.backImage {
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    #mainNavbar {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
        -webkit-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
        -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
        -ms-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
        -o-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }

    #mainNavbar .navbar-brand {
        font-size: 1.5rem;
        transition: font-size 0.3s ease-in-out;
        -webkit-transition: font-size 0.3s ease-in-out;
        -moz-transition: font-size 0.3s ease-in-out;
        -ms-transition: font-size 0.3s ease-in-out;
        -o-transition: font-size 0.3s ease-in-out;
    }

    #mainNavbar .navbar-nav .nav-item {
        margin-right: 1rem;
    }

    #mainNavbar .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

    #mainNavbar.navbar-mobile .navbar-brand {
        font-size: 1.20em;
    }

    #mainNavbar.navbar-mobile {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }
}

/* about start */

.ab-member p {
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* contact start */
#contact {
    background-color: #432630;
    background-repeat: no-repeat;
    background-image: url("../../img/map.png");
    background-position: center;
}

#contact input {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
}

#contact .form-textarea {
    height: 92%;
}

#contact .form-textarea textarea {
    height: 100%;
    min-height: 10rem;
}

#contact .form-control:focus {
    box-shadow: 1px 1px 12px #d8df0b;
}

/* Foother Start */
.ft-member a:hover{
    opacity: 0.75;
}
/* Foother End */